.bg-slate-800{
    background-color: #1e293b !important;
}
.w-33-33{
    width: 33.33333333333333%;
}
.bg-slate-400{
    background-color: #c4d7e2 !important;
}


::ng-deep p-chart>div{
    width: 100% !important;
    height: 100% !important;
}