::ng-deep .p-tag-rounded{
    border-radius: 8px !important;
}

::ng-deep .p-icon.p-rating-icon.p-rating-icon-active{
    color: #f9c000 !important;
}
::ng-deep .p-button-outlined{
    color: #1E3949 !important;
    border-color: #1E3949 !important;
}