/* Styles for the home component */
.landing-page {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.perspective-1000 {
  perspective: 1000px;
}

.rotate-x-2 {
  transform: rotateX(2deg);
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.navbar{
  padding-left: 20px !important;
  padding-right: 20px !important;
}