.main-layout {
  min-height: 100vh;
  background-color: #EDF3F5 !important;
  font-family: 'Montserrat', sans-serif;
}

.icon-img{
  width: 56px !important;
  height: 56px !important;
}

::ng-deep .p-togglebutton-checked ,
::ng-deep .p-togglebutton-checked .p-togglebutton-content{

  background-color: var(--color-primary-dark) !important;
  color: white !important;
}

::ng-deep .p-togglebutton-content{
  background-color: white !important;
  color: var(--color-primary-dark) !important;
}

.navbar{
  background-color: white !important;
  .address{
    color:#111827 !important;
  }
  .show-text{
    color: #079DD8;
    margin: 0;
  }

  .nav-tabs{
    border-bottom: none !important;
  }

  .nav-tab {
    background: none;
    border: none;
    color: #9ca3af;
    cursor: pointer;
    outline: none;
    font-weight: 800;
    font-size: 16px;



    &.active {
      color: #0891B2;
      border-bottom: 3px solid #06B6D4;
    }
  }

  .logout-btn {
    background-color: #fef2f2;
    color: #dc2626;
    border-color: #fee2e2;

    &:hover {
      background-color: #fee2e2;
    }
  }

  .icon-btn {
    color: #6b7280;
    border-color: #e5e7eb;

    &:hover {
      background-color: #f9fafb;
    }
  }

  .profile-badge {
    // background-color: #f4f3fb;
    border-color: #E5E7EB;
    padding: 8px 12px;
  }

  .avatar {
    width: 36px;
    height: 36px;
    background-color: #0027B7;
    color: white;
  }

  .profile-name {
    color: #2a2a3e;
    font-weight: 600;

  }

  .profile-role {
    color: #0891B2;
    font-size: 10px;
    font-weight: 600;
  }
}